/* -------- sox settings dialog  ------- */

#sox-settings-dialog {
    top: 34px;
    right: 208px;
    min-height: calc(100vh - 90px);
    width: 550px;
    display: none;
}

#sox-settings-dialog.new-topbar {
    min-height: calc(100vh - 75px);
}

#sox-settings-dialog .modal-content {
    /* max-height: calc(100vh - 175px); */
    max-height: none;
    min-height: inherit;
}

#sox-settings-dialog .header h3 {
    width: 100%;
}

#sox-settings-dialog-version {
    float: right;
    font-size: 14px;
}

#sox-settings-dialog #search-container {
    min-height: 0;
}

#sox-settings-dialog:not(.new-topbar) #search-container .fa-search {
    position: relative;
    left: -485px;
}

#sox-settings-dialog.new-topbar #search-container .fa-search {
    position: relative;
    left: -485px;
}

#sox-settings-dialog #search-container #search {
    width: 490px;
    text-indent: 20px;
}

#sox-settings-dialog-features {
    /* padding: 0 10px 10px 10px; */
    overflow-y: scroll;
    height: calc(100vh - 250px);
}

#sox-settings-dialog-features .modal-content div {
    margin-bottom: 3px;
    padding: 2px;
}

#sox-settings-dialog-features .modal-content div:hover {
    background-color: #f7f8f8;
}

#sox-settings-dialog-features .modal-content label>input {
    margin-right: 5px;
}

#sox-settings-dialog-actions {
    height: 40px;
    padding: 0 10px;
}

#sox-settings-dialog-save {
    margin-left: 5px;
    float: right;
}

#sox-settings-dialog-actions .action {
    float: right;
    padding: 14px;
}

#sox-settings-dialog-actions #sox-settings-dialog-access-token {
    transform: scaleX(-1);
}

#sox-settings-dialog .sox-new-version-item {
    padding: 5px;
}

.sox-settings-button {
    background-image: none !important;
    padding-top: 10px;
    font-size: 14px;
    color: #9fa6ad;
    min-width: 38px;
    cursor: pointer;
}

.sox-settings-button:not(.-link) {
    height: 24px !important;
}

.sox-settings-button:hover {
    color: #999;
}

#sox-settings-dialog-check-toggle>i {
    padding: 14px 0;
}

#sox-settings-dialog-features textarea.featureSetting {
    min-width: 80%;
}

.network-items .fa:before {
    /*https://github.com/soscripted/sox/pull/127*/
    color: #9fa6ad;
}

.sox-feature-info,
.sox-feature-settings {
    background-color: whitesmoke;
    border-radius: 9px;
    margin-left: 20px;
    padding: 8px;
    width: 90%;
    line-height: 1.5;
    padding: 5px !important;
}

.sox-feature .fa-info,
.sox-feature .fa-wrench {
    font-size: 12px;
    padding: 0 5px;
    cursor: pointer;
}

.sox-feature .fa-info {
    float: right;
}

#sox-settings-dialog-features-packs {
    margin-bottom: 5px;
}

.sox-settings-dialog-feature-packs-list {
    padding: 10px;
    margin: 5px;
}

.sox-settings-dialog-feature-packs-list li.sox-settings-dialog-feature-pack {
    display: inline;
    margin: 5px;
    padding: 10px;
    border-radius: 9px;
    background-color: lightgrey;
    cursor: pointer;
}

.sox-settings-dialog-feature-packs-list li.sox-settings-dialog-feature-pack.clear-feature-pack-selection {
    background-color: inherit;
    color: inherit;
}

#sox-settings-dialog .sox-feature.feature-fade-out, #sox-settings-dialog .sox-feature.disabled-feature {
    opacity: 0.5;
}

/* -------- sox specific features' CSS ------- */

#sox-scrollToTop {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, .7);
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

/*Main centered divs, SE-style:*/

.sox-centered {
    width: 400px;
    z-index: 1001;
    top: 102px;
    left: 615.5px;
    display: inline-block;
    margin-top: -95.5px;
    margin-left: -216px;
    overflow: auto;
    height: 90%;
}

/*Specifically for quickCommentShortcuts -- the div's too wide! https://github.com/shu8/Stack-Overflow-Optional-Features/issues/36*/

#quickCommentShortcuts.sox-centered {
    width: 75%;
    height: 90%;
    z-index: 1001;
    top: 20%;
    left: 14%;
    display: inline-block;
    overflow: auto;
}

/*standOutDupeCloseMigrated signs */

.standOutDupeCloseMigrated-duplicate,
.standOutDupeCloseMigrated-closed,
.standOutDupeCloseMigrated-migrated,
.standOutDupeCloseMigrated-onhold {
    color: #FFF;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
}

.standOutDupeCloseMigrated-duplicate {
    background: #FA0;
}

.standOutDupeCloseMigrated-closed {
    background: #F00;
}

.standOutDupeCloseMigrated-migrated {
    background: #19F;
}

.standOutDupeCloseMigrated-onhold {
    background: #808080;
}

/*metaNewQuestionAlert for the mod diamond and dialog */

#metaNewQuestionAlertDialog {
    top: 50px;
    right: 242px;
    width: 377px;
}

#metaNewQuestionAlertDialogList:empty::after {
    content: "No new meta questions at this time.";
}

/*addHotText for the 'this question is hot' banner */

.sox-hot {
    float: left;
    font-size: xx-large;
    color: red;
    margin-right: 8px;
}

/*quickCommentShortcutsMain: */

.quickCommentShortcutsReminder {
    height: 40%;
    width: 13%;
    left: 0;
    top: 10%;
    position: fixed;
    background-color: gray;
    color: white;
    text-align: center;
    overflow: auto;
}

/*Side by Side Editing (SBS, addSBSBtn, startSBS): https://github.com/szego/SE-Answers_scripts/blob/side-by-side/editing-and-toggling/side-by-side-editing.user.js:*/

#sidebar.sbs-on {
    display: none !important;
}

#content.sbs-on {
    width: 1360px !important;
}

.draft-saved.sbs-on {
    margin-left: 35px !important;
}

.draft-discarded.sbs-on {
    margin-left: 35px !important;
}

.draft-saved.sbs-on.sbs-newq {
    margin-left: 40px !important;
    height: 15px !important;
    float: left !important;
}

.draft-discarded.sbs-on.sbs-newq {
    margin-left: 40px !important;
    height: 15px !important;
    float: left !important;
}

.votecell.sbs-on {
    display: none !important;
}

.hide-preview.sbs-on {
    margin-left: 35px !important;
}

.post-editor.sbs-on {
    width: 1360px !important;
}

.sbs-on-left-side {
    width: 660px;
}

.wmd-button-bar.sbs-on {
    float: none !important;
}

.wmd-container.sbs-on {
    float: left !important;
}

.wmd-preview.sbs-on {
    width: 685px;
    clear: none !important;
    float: right !important;
}

.wmd-preview.sbs-on.sbs-newq {
    margin-top: 10px !important;
}

.tag-editor-p.sbs-on.sbs-newq {
    float: left !important;
}

.form-item.sbs-on.sbs-newq {
    float: left !important;
}

.post-form.sbs-on {
    /*https://github.com/soscripted/sox/issues/247*/
    width: 1335px;
}

.edit-comment.sbs-on {
    clear: both;
    position: initial;
}

/*linkedPostsInline for the displayed post text; https://github.com/shu8/Stack-Overflow-Optional-Features/issues/48 */

.linkedPostsInline-loaded-body-sox {
    background-color: aliceblue;
    border-radius: 20px;
    overflow-wrap: break-word;
    width: auto;
    padding: 10px;
    -webkit-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.linkedPostsInline-loaded-body-sox .post-text {
    width: auto;
    font-size: 90%;
}

/*findAndReplace*/

.findReplaceToolbar {
    display: block;
    background-color: transparent;
    padding: 0 12px;
    border: 1px solid #c8ccd0;
    border-bottom: 0;
    border-top: 0;
}

#findReplace {
    cursor: pointer;
}

.findReplaceToolbar.findReplace>input[type='text'] {
    height: 10px;
    width: 25%;
}

.findReplaceToolbar.findReplace>input[type='button'] {
    width: 10%;
    height: 100%;
}

/*chatEasyAccess - for the links (b elements)*/

.chatEasyAccess b {
    cursor: pointer;
}

/*highlightQuestions -- for the tags*/

.sox-tagged-interesting {
    position: relative;
}

.sox-tagged-interesting:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: black;
}

/*commentReplies -- for the reply buttons*/

.soxReplyLink {
    cursor: pointer;
    float: right;
}

/*flagPercentageBar -- for the percentage bar itself*/

#sox-flagPercentProgressBar {
    background: #ccc;
    height: 10px;
    width: 220px;
    margin: 6px 10px 10px 0;
    padding: 0px;
    margin: auto;
}

#sox-flagPercentProgressBar:after {
    content: '';
    display: block;
    height: 100%;
}

#sox-flagPercentHelpful {
    margin-bottom: 5px;
    text-align: center;
}

/*titleEditDiff -- for the toggle button*/

.sox-better-title-toggle {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

/*sox-copyCode -- for the button and textarea (completely hide it)*/

.sox-copyCodeButton {
    float: right;
    position: sticky;
    top: 0;
}

.sox-copyCodeTextarea {
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    background: transparent;
    overflow: hidden;
}

/*openLinksInNewTab -- for the external link sign*/

.openLinksInNewTab-externalLink {
    display: inline !important;
    padding-right: 3px;
}

/*colorAnswerer -- for the username*/

.sox-answerer {
    color: rgba(0, 50, 200, 1);
    background-color: rgba(220, 220, 220, 1);
    padding: 1px 5px !important;
}

/*hotNetworkQuestionsFiltering -- for the questions to hide*/

.sox-hot-network-question-filter-hide {
    display: none !important;
}

/*addAuthorNameToInboxNotifications -- for the author span*/

.sox-notification-author {
    color: #848d95;
}

/*hotNetworkQuestionsFiltering -- for the tags icon and tags list shown after hovering over it*/

.getQuestionTags {
    margin-left: 5px;
}

.sox-hnq-question-tags-tooltip {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #eeeefe;
    border: 1px solid darkgrey;
    font-size: 11px;
    padding: 2px;
    white-space: normal;
}

/* onlyShowCommentActionsOnHover -- the function just adds this CSS to avoid having to do it in JS*/
/* thanks @Makyen <https://meta.stackexchange.com/questions/312794/312800#comment1024746_312794> */

.sox-onlyShowCommentActionsOnHover:not(:hover) .comment-up-off,
.sox-onlyShowCommentActionsOnHover:not(:hover) .comment-flag:not(.flag-on) {
    visibility: hidden;
}

/* autoShowCommentImages -- for the image displayed */
.sox-autoShowCommentImages-image {
    padding: 2px;
    margin: 2px;
    border: 1px dotted black;
}

/* editComment -- for the dialog and checkboxes shown when editing */
.sox-editComment-currentValues {
    border: 1px solid black;
    padding: 12px;
}

.sox-editComment-deleteDialogButton,
.sox-editComment-editDialogButton {
    min-height: 2.2em !important;
    padding: 5px !important;
    font-size: 12px;
    margin-left: 5px;
}

.sox-editComment-reason {
    display: inline-block !important;
    background-color: inherit;
    color: inherit;
    margin-top: 7px;
    padding: 3px;
}

.sox-editComment-reason:hover {
    background-color: gray;
    color: white;
}

/* customMagicLinks -- for the settings table in the dialog */
.sox-customMagicLinks-settings-table {
    margin-bottom: 10px;
}

.sox-customMagicLinks-settings-table td,
.sox-customMagicLinks-settings-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.sox-customMagicLinks-settings-table th {
    font-weight: bold;
}