/* -------- sox settings dialog  ------- */

#sox-settings-dialog {
    top: 34px;
    left: 230px;
    min-height: calc(100vh - 100px);
    width: 550px;
    display: none;
}

#sox-settings-dialog .modal-content {
    /* max-height: calc(100vh - 175px); */
    max-height: none;
    min-height: inherit;
}

#sox-settings-dialog .header h3 {
    width: 100%;
}

#sox-settings-dialog-version {
    float: right;
    font-size: 14px;
}

#sox-settings-dialog #search-container {
    min-height: 0;
}

#sox-settings-dialog #search-container .fa-search {
    position: relative;
    left: -475px;
}

#sox-settings-dialog #search-container #search {
    width: 470px;
    text-indent: 20px;
}

#sox-settings-dialog-features {
    /* padding: 0 10px 10px 10px; */
    overflow-y: scroll;
    height: calc(100vh - 250px);
}

#sox-settings-dialog-features .modal-content div {
    margin-bottom: 3px;
}

#sox-settings-dialog-features .modal-content label>input {
    margin-right: 5px;
}

#sox-settings-dialog-actions {
    height: 40px;
    padding: 0 10px;
}

#sox-settings-dialog-save {
    margin-left: 5px;
    float: right;
}

#sox-settings-dialog-actions .action {
    float: right;
    padding: 14px;
}

#sox-settings-dialog-actions #sox-settings-dialog-paste-access-token {
    transform: scaleX(-1);
}

.sox-settings-button {
    background-image: none !important;
    padding-top: 10px;
    font-size: 14px;
    color: #858c93;
    height: 24px !important;
    min-width: 34px;
    cursor: pointer;
}

.sox-settings-button:hover {
    color: #999;
}

#sox-settings-dialog-check-toggle>i {
    padding: 14px 0;
}

.network-items .fa:before {
    /*https://github.com/soscripted/sox/pull/127*/
    color: #858c93;
}

.sox-feature-info {
    background-color: whitesmoke;
    border-radius: 9px;
    margin-left: 20px;
    padding: 8px;
    width: 90%;
    line-height: 1.5;
}

.sox-feature .fa-info {
    margin-left: 10px;
    font-size: 15px;
}


/* -------- sox specific features' CSS ------- */

#sox-scrollToTop {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, .7);
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}


/*Main centered divs, SE-style:*/

.sox-centered {
    width: 400px;
    z-index: 1001;
    top: 102px;
    left: 615.5px;
    display: inline-block;
    margin-top: -95.5px;
    margin-left: -216px;
    overflow: auto;
    height: 90%;
}


/*Specifically for quickCommentShortcuts -- the div's too wide! https://github.com/shu8/Stack-Overflow-Optional-Features/issues/36*/

#quickCommentShortcuts.sox-centered {
    width: 75%;
    height: 90%;
    z-index: 1001;
    top: 20%;
    left: 14%;
    display: inline-block;
    overflow: auto;
}


/*standOutDupeCloseMigrated signs */

.standOutDupeCloseMigrated-duplicate, .standOutDupeCloseMigrated-closed, .standOutDupeCloseMigrated-migrated, .standOutDupeCloseMigrated-onhold {
    color: #FFF;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;
}

.standOutDupeCloseMigrated-duplicate {
    background: #FA0;
}

.standOutDupeCloseMigrated-closed {
    background: #F00;
}

.standOutDupeCloseMigrated-migrated {
    background: #19F;
}

.standOutDupeCloseMigrated-onhold {
    background: #808080;
}


/*metaNewQuestionAlert for the mod diamond and dialog */

#metaNewQuestionAlertButton {
    cursor: pointer;
    width: 32px;
}

.metaNewQuestionAlert-diamondOn {
    background-position: -218px -86px;
}

.metaNewQuestionAlert-diamondOff {
    background-position: -138px -86px;
}

#metaNewQuestionAlertDialog {
    top: 34px;
    left: 264px;
    width: 377px;
}

#metaNewQuestionAlertDialogList:empty::after {
    content: "No new meta questions at this time.";
}


/*addHotText for the 'this question is hot' banner */

.sox-hot {
    float: left;
    font-size: xx-large;
    color: red;
    margin-top: 5px;
    margin-right: 8px;
}


/*quickCommentShortcutsMain: */

.quickCommentShortcutsReminder {
    height: 40%;
    width: 13%;
    left: 0;
    top: 10%;
    position: fixed;
    background-color: gray;
    color: white;
    text-align: center;
    overflow: auto;
}


/*fixedTopbar */


/*Ubuntu CSS by @UnicornsAreVeryVeryYummy - http://stackapps.com/users/33746/unicorns-are-very-very-yummy */

.fixedTopbar-links {
    z-index: 10001;
    line-height: 19.2px;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    font-weight: 300;
}

.fixedTopbar-linksList {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #fff;
}

li.fixedTopbar-activeSite {
    border-right: 3px solid #dd4814;
}

ul.fixedTopbar-siteLink {
    list-style: none;
    list-style-type: none;
}

li.fixedTopbar-siteLink {
    display: inline-block;
    margin-left: 10px;
}

.fixedTopbar-stickyToolbar {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -545px;
    z-index: 1000;
}


/*Side by Side Editing (SBS, addSBSBtn, startSBS): https://github.com/szego/SE-Answers_scripts/blob/side-by-side/editing-and-toggling/side-by-side-editing.user.js:*/

#sidebar.sbs-on {
    display: none !important;
}

#content.sbs-on {
    width: 1360px !important;
}

.draft-saved.sbs-on {
    margin-left: 35px !important;
}

.draft-discarded.sbs-on {
    margin-left: 35px !important;
}

.draft-saved.sbs-on.sbs-newq {
    margin-left: 40px !important;
    height: 15px !important;
    float: left !important;
}

.draft-discarded.sbs-on.sbs-newq {
    margin-left: 40px !important;
    height: 15px !important;
    float: left !important;
}

.votecell.sbs-on {
    display: none !important;
}

.hide-preview.sbs-on {
    margin-left: 35px !important;
}

.edit-comment-p1.sbs-on {
    float: left !important;
}

.edit-comment-p2.sbs-on {
    float: left !important;
    margin-left: 10px !important;
}

.post-editor.sbs-on {
    width: 1360px !important;
}

.wmd-button-bar.sbs-on {
    float: none !important;
}

.wmd-container.sbs-on {
    float: left !important;
}

.wmd-preview.sbs-on {
    clear: none !important;
    float: right !important;
}

.wmd-preview.sbs-on.sbs-newq {
    margin-top: 10px !important;
}

.tag-editor-p.sbs-on.sbs-newq {
    float: left !important;
}

.form-item.sbs-on.sbs-newq {
    float: left !important;
}


/*linkedPostsInline for the displayed post text; https://github.com/shu8/Stack-Overflow-Optional-Features/issues/48 */

.linkedPostsInline-loaded-body-sox {
    background-color: aliceblue;
    border-radius: 20px;
    overflow-wrap: break-word;
    width: 630px;
    padding: 10px;
}

/*enhancedEditor (enhanced_editor folder)*/

.enhancedEditor-centered {
    width: 40%;
    z-index: 1001;
    top: 190px;
    left: 615.5px;
    display: inline-block;
    margin-top: -95.5px;
    margin-left: -216px;
    overflow: auto;
    height: 70%;
}

.ownURL, .ownImage {
    border-radius: 5px;
    width: 70%;
    padding: 5px;
}

.go {
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: lightgreen;
}

.DDG-go {
    float: right;
}

hr.or {
    border: 0;
    border-top: 1px solid whitesmoke;
    text-align: center;
}

hr.or:after {
    content: "or...";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.1em;
    padding: 0.2em;
    background: whitesmoke;
}

.DDG-container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2%;
}

.DDG-credit {
    font-size: 0.8em;
}

.enhancedEditor-toolbar {
    display: block;
    background-color: transparent;
    padding: 0 12px;
    border: 1px solid #c8ccd0;
    border-bottom: 0;
    border-top: 0;
}

.enhancedEditor-toolbar>span {
    cursor: pointer;
}

.enhancedEditor-toolbar>span+span {
    margin-left: 2px;
}

.enhancedEditor-closeDialog {
    float: left;
    margin-right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.enhancedEditor-toolbar.findReplace>input[type='text'] {
    height: 10px;
    width: 25%;
}

.enhancedEditor-toolbar.findReplace>input[type='button'] {
    width: 10%;
    height: 100%;
}

.enhancedEditor-asLinkContainer {
    display: block;
}


/*chatEasyAccess - for the links (b elements)*/

.chatEasyAccess b {
    cursor: pointer;
}


/*highlightQuestions -- for the tags*/

.sox-tagged-interesting {
    position: relative;
}

.sox-tagged-interesting:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: black;
}

/*downvotedPostsEditAlert -- for the button and dropdown*/

#downvotedPostsEditAlertButton {
    background-image: none;
    padding-top: 10px;
    font-size: 14px;
    color: #858c93;
    height: 24px !important;
    min-width: 34px;
    cursor: pointer;
}

#downvotedPostsEditAlertButton:hover {
    color: #999;
}

.downvotedPostsEditAlertButtonCount {
    background-color: red;
    width: 22px;
    margin-left: 4px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    top: 8px;
}

#downvotedPostsEditAlertDialog {
    top: 34px;
    left: 264px;
    width: 377px;
    display: none;
}

#downvotedPostsEditAlertButton.glow {
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 3px;
}


/*commentReplies -- for the reply buttons*/

.soxReplyLink {
    cursor: pointer;
}


/*flagPercentageBar -- for the percentage bar itself*/

#sox-flagPercentProgressBar {
    background: #ccc;
    height: 10px;
    width: 220px;
    margin: 6px 10px 10px 0;
    padding: 0px;
}

#sox-flagPercentProgressBar:after {
    content: '';
    display: block;
    height: 100%;
}

#sox-flagPercentHelpful {
    margin-bottom: 5px;
}

/*titleEditDiff -- for the toggle button*/

.sox-better-title-toggle {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
