/* -------- sox settings dialog  ------- */

#sox-settings-dialog {
    top: 34px;
    right: 208px;
    min-height: calc(100vh - 90px);
    width: 550px;
    display: none;
}

#sox-settings-dialog.new-topbar {
    min-height: calc(100vh - 75px);
}

#sox-settings-dialog .modal-content {
    /* max-height: calc(100vh - 175px); */
    max-height: none;
    min-height: inherit;
}

#sox-settings-dialog .header h3 {
    width: 100%;
}

#sox-settings-dialog-version {
    float: right;
    font-size: 14px;
}

#sox-settings-dialog #search-container {
    min-height: 0;
}

#sox-settings-dialog:not(.new-topbar) #search-container .fa-search {
    position: relative;
    left: -485px;
}

#sox-settings-dialog.new-topbar #search-container .fa-search {
    position: relative;
    left: -485px;
}

#sox-settings-dialog #search-container #search {
    width: 490px;
    text-indent: 20px;
}

#sox-settings-dialog-features {
    /* padding: 0 10px 10px 10px; */
    overflow-y: scroll;
    height: calc(100vh - 250px);
}

#sox-settings-dialog-features .modal-content div {
    margin-bottom: 3px;
    padding: 1px;
}

#sox-settings-dialog-features .modal-content label>input {
    margin-right: 5px;
}

#sox-settings-dialog-actions {
    height: 40px;
    padding: 0 10px;
}

#sox-settings-dialog-save {
    margin-left: 5px;
    float: right;
}

#sox-settings-dialog-actions .action {
    float: right;
    padding: 14px;
}

#sox-settings-dialog-actions #sox-settings-dialog-access-token {
    transform: scaleX(-1);
}

.sox-settings-button {
    background-image: none !important;
    padding-top: 10px;
    font-size: 14px;
    color: #9fa6ad;
    min-width: 38px;
    cursor: pointer;
}

.sox-settings-button:not(.-link) {
    height: 24px !important;
}

.sox-settings-button:hover {
    color: #999;
}

#sox-settings-dialog-check-toggle>i {
    padding: 14px 0;
}

.network-items .fa:before {
    /*https://github.com/soscripted/sox/pull/127*/
    color: #9fa6ad;
}

.sox-feature-info, .sox-feature-settings {
    background-color: whitesmoke;
    border-radius: 9px;
    margin-left: 20px;
    padding: 8px;
    width: 90%;
    line-height: 1.5;
    padding: 5px !important;
}

.sox-feature .fa-info, .sox-feature .fa-wrench {
    font-size: 12px;
    padding: 0 5px;
}

.sox-feature .fa-info {
    float: right;
  }

.sox-feature-settings-save {

}

/* -------- sox specific features' CSS ------- */

#sox-scrollToTop {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, .7);
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}


/*Main centered divs, SE-style:*/

.sox-centered {
    width: 400px;
    z-index: 1001;
    top: 102px;
    left: 615.5px;
    display: inline-block;
    margin-top: -95.5px;
    margin-left: -216px;
    overflow: auto;
    height: 90%;
}


/*Specifically for quickCommentShortcuts -- the div's too wide! https://github.com/shu8/Stack-Overflow-Optional-Features/issues/36*/

#quickCommentShortcuts.sox-centered {
    width: 75%;
    height: 90%;
    z-index: 1001;
    top: 20%;
    left: 14%;
    display: inline-block;
    overflow: auto;
}


/*standOutDupeCloseMigrated signs */

.standOutDupeCloseMigrated-duplicate, .standOutDupeCloseMigrated-closed, .standOutDupeCloseMigrated-migrated, .standOutDupeCloseMigrated-onhold {
    color: #FFF;
    padding: 2px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
}

.standOutDupeCloseMigrated-duplicate {
    background: #FA0;
}

.standOutDupeCloseMigrated-closed {
    background: #F00;
}

.standOutDupeCloseMigrated-migrated {
    background: #19F;
}

.standOutDupeCloseMigrated-onhold {
    background: #808080;
}


/*metaNewQuestionAlert for the mod diamond and dialog */

#metaNewQuestionAlertDialog {
    top: 50px;
    right: 242px;
    width: 377px;
}

#metaNewQuestionAlertDialogList:empty::after {
    content: "No new meta questions at this time.";
}


/*addHotText for the 'this question is hot' banner */

.sox-hot {
    float: left;
    font-size: xx-large;
    color: red;
    margin-right: 8px;
}


/*quickCommentShortcutsMain: */

.quickCommentShortcutsReminder {
    height: 40%;
    width: 13%;
    left: 0;
    top: 10%;
    position: fixed;
    background-color: gray;
    color: white;
    text-align: center;
    overflow: auto;
}


/*fixedTopbar */


/*Ubuntu CSS by @UnicornsAreVeryVeryYummy - http://stackapps.com/users/33746/unicorns-are-very-very-yummy */

.fixedTopbar-links {
    z-index: 10001;
    line-height: 19.2px;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    font-weight: 300;
}

.fixedTopbar-linksList {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #fff;
}

li.fixedTopbar-activeSite {
    border-right: 3px solid #dd4814;
}

ul.fixedTopbar-siteLink {
    list-style: none;
    list-style-type: none;
}

li.fixedTopbar-siteLink {
    display: inline-block;
    margin-left: 10px;
}

.fixedTopbar-stickyToolbar {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -545px;
    z-index: 1000;
}


/*Side by Side Editing (SBS, addSBSBtn, startSBS): https://github.com/szego/SE-Answers_scripts/blob/side-by-side/editing-and-toggling/side-by-side-editing.user.js:*/

#sidebar.sbs-on {
    display: none !important;
}

#content.sbs-on {
    width: 1360px !important;
}

.draft-saved.sbs-on {
    margin-left: 35px !important;
}

.draft-discarded.sbs-on {
    margin-left: 35px !important;
}

.draft-saved.sbs-on.sbs-newq {
    margin-left: 40px !important;
    height: 15px !important;
    float: left !important;
}

.draft-discarded.sbs-on.sbs-newq {
    margin-left: 40px !important;
    height: 15px !important;
    float: left !important;
}

.votecell.sbs-on {
    display: none !important;
}

.hide-preview.sbs-on {
    margin-left: 35px !important;
}

.edit-comment-p1.sbs-on {
    float: left !important;
    clear: both;
}

.edit-comment-p2.sbs-on {
    float: left !important;
    margin-left: 10px !important;
    clear: both;
}

.post-editor.sbs-on {
    width: 1360px !important;
    //width: 1060px !important;
}

.sbs-on-left-side {
  width: 660px;
}

.wmd-button-bar.sbs-on {
    float: none !important;
}

.wmd-container.sbs-on {
    float: left !important;
}

.wmd-preview.sbs-on {
    width: 685px;
    clear: none !important;
    float: right !important;
}

.wmd-preview.sbs-on.sbs-newq {
    margin-top: 10px !important;
}

.tag-editor-p.sbs-on.sbs-newq {
    float: left !important;
}

.form-item.sbs-on.sbs-newq {
    float: left !important;
}

.post-form.sbs-on {
    /*https://github.com/soscripted/sox/issues/247*/
    width: 1335px;
}


/*linkedPostsInline for the displayed post text; https://github.com/shu8/Stack-Overflow-Optional-Features/issues/48 */

.linkedPostsInline-loaded-body-sox {
    background-color: aliceblue;
    border-radius: 20px;
    overflow-wrap: break-word;
    width: auto;
    padding: 10px;
    -webkit-box-shadow: inset 1px 1px 4px 1px rgba(0,0,0,0.5);
       -moz-box-shadow: inset 1px 1px 4px 1px rgba(0,0,0,0.5);
            box-shadow: inset 1px 1px 4px 1px rgba(0,0,0,0.5);

}
.linkedPostsInline-loaded-body-sox .post-text {
    width: auto;
    font-size: 90%;
}


/*findAndReplace*/
.findReplaceToolbar {
    display: block;
    background-color: transparent;
    padding: 0 12px;
    border: 1px solid #c8ccd0;
    border-bottom: 0;
    border-top: 0;
}

#findReplace {
    cursor: pointer;
}

.findReplaceToolbar.findReplace>input[type='text'] {
    height: 10px;
    width: 25%;
}

.findReplaceToolbar.findReplace>input[type='button'] {
    width: 10%;
    height: 100%;
}

/*chatEasyAccess - for the links (b elements)*/

.chatEasyAccess b {
    cursor: pointer;
}


/*highlightQuestions -- for the tags*/

.sox-tagged-interesting {
    position: relative;
}

.sox-tagged-interesting:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: black;
}


/*downvotedPostsEditAlert -- for the button and dropdown*/

#downvotedPostsEditAlertButton {
    background-image: none;
    font-size: 14px;
    color: #9fa6ad;
    min-width: 34px;
    cursor: pointer;
}

#downvotedPostsEditAlertButton:hover {
    color: #999;
}

.downvotedPostsEditAlertButtonCount {
    background-color: red;
    width: 22px;
    margin-left: 4px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    top: 8px;
}

#downvotedPostsEditAlertDialog {
    right: 273px;
    width: 377px;
    display: none;
}

#downvotedPostsEditAlertButton.glow {
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 3px;
}


/*commentReplies -- for the reply buttons*/

.soxReplyLink {
    cursor: pointer;
    float: right;
}


/*flagPercentageBar -- for the percentage bar itself*/

#sox-flagPercentProgressBar {
    background: #ccc;
    height: 10px;
    width: 220px;
    margin: 6px 10px 10px 0;
    padding: 0px;
}

#sox-flagPercentProgressBar:after {
    content: '';
    display: block;
    height: 100%;
}

#sox-flagPercentHelpful {
    margin-bottom: 5px;
}


/*titleEditDiff -- for the toggle button*/

.sox-better-title-toggle {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}


/*sox-copyCode -- for the button and textarea (completely hide it)*/

.sox-copyCodeButton {
    float: right;
    position: sticky;
    top: 0;
}

.sox-copyCodeTextarea {
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    box-shadow: none;
    background: transparent;
    overflow: hidden;
}


/*openLinksInNewTab -- for the external link sign*/

.openLinksInNewTab-externalLink {
    display: inline !important;
    padding-right: 3px;
}

/*colorAnswerer -- for the username*/
.sox-answerer {
    color: rgba(0, 50, 200, 1);
    background-color: rgba(220, 220, 220, 1);
    padding: 1px 5px !important;
}

/*hotNetworkQuestionsFiltering -- for the questions to hide*/
.sox-hot-network-question-filter-hide {
    display: none !important;
}

/*addAuthorNameToInboxNotifications -- for the author span*/
.sox-notification-author {
    color: #848d95;
}
