/* -------- SOX Theme Editor -------- */
#sox-theme-editor {
    position: fixed;
    display: none;
    height: 100%;
    width: 400px;
    top: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-right: solid 1px #aaa;
}
#sox-theme-editor-title {
    padding: 10px;
    height: 30px;
}
#sox-theme-editor-title a {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}
#sox-theme-editor-title h3 {
    display: inline;
}
#sox-theme-editor-close {
    float: right;
}
#sox-theme-editor-close a {
    padding: 3px 6px 2px 6px;
    font-size: 16px;
    font-weight: normal;
    color: #fff !important;
    background-color: #222;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}
#sox-theme-editor-select, #sox-theme-editor-custom-rule {
    font-size: 0.8rem;
    float: right;
    cursor: pointer;
    color: #888;
}
#sox-theme-editor-select:hover, #sox-theme-editor-custom-rule:hover {
    color: #444;
}
#sox-theme-editor-select:active, #sox-theme-editor-custom-rule:active {
    color: #000;
}
#sox-element-attributes {
    border: none;
}
#sox-element-classes, #sox-rule-applies-to {
    list-style-type: none;
}
#sox-element-classes li, #sox-rule-applies-to li {
    display: inline;
}
#sox-theme-name-p {
    font-size: 1.2rem;
}
.sox-highlight {
    background: rgba(128, 128, 255, .3);
}
