.enhancedEditor-centered {
    width:40%;
    z-index:1001;
    top:190px;
    left:615.5px;
    display:inline-block;
    margin-top:-95.5px;
    margin-left:-216px;
    overflow:auto;
    height:70%;   
}
.ownURL, .ownImage {
    border-radius: 5px;
    width: 70%;
    padding: 5px;
}
.go {
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: lightgreen;
}
.DDG-go {
    float: right;
}
hr.or {
    border: 0;
    border-top: 1px solid whitesmoke;
    text-align: center;
}
hr.or:after {
    content:"or...";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.1em;
    padding: 0.2em;
    background: whitesmoke;
}
.DDG-container {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2%;
}
.DDG-credit {
    font-size: 0.8em;
}

#enhancedEditor-aceEditor>#editor {
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 0;
    left: 0;
}

.enhancedEditor-aceLanguages {
    float: right;
}

.enhancedEditor-addCode {
    float:right;
    margin-right: 5px;
}


.enhancedEditor-toolbar {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-right: 147px;
}

.enhancedEditor-toolbar > span {
    cursor: pointer;
}

.enhancedEditor-toolbar >span+span {
    margin-left:2px;
}

.enhancedEditor-closeDialog {
    float: left;
    margin-right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.enhancedEditor-toolbar.findReplace > input[type='text'] {
    height: 10px;
    width: 25%;
}

.enhancedEditor-toolbar.findReplace > input[type='button'] {
    width: 10%;
    height: 100%;
}

.enhancedEditor-asLinkContainer {
    display: block;
}
